# assignment1
assignment1/cs231n/datasets
assignment1/cs231n/__pycache__
assignment1/collectSubmission.sh
assignment1/features.ipynb
assignment1/frameworkpython
assignment1/requirements.txt
assignment1/start_ipython_osx.sh


